:root,
.sl-theme-dark,
.sl-theme-light,
body {
  --z-header: 2;
  --z-search: 3;

  --top-nav-max-width: 1650px;
  --body-max-width: 1800px;
  --footer-height: 135px;
  --side-nav-width: 300px;
  --main-width: clamp(75ch, 70vw, 100ch);
  --main-padding-x: 1rem;
  --input-focus-ring-width: 3px;
  --input-font-size: var(--sl-font-size-size-medium);

  --input-sm-padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
  --input-padding: var(--sl-spacing-medium) var(--sl-spacing-large);

  --input-border-width: 1px;
  --input-border-style: solid;
  --input-border-color: var(--divider-color);
  --input-border-radius: 4px;

  --input-bg-color: var(--sl-color-neutral-0);
  --input-transition: 100ms box-shadow ease-in-out;

}

/* Janky hack for iOS mobile */
.fixed-body {
  position: fixed;
  height: 100%;
  width: 100%;
  /* Allow the main content to be scrolled,
  so we can adjust the scroll position with JS. */
  overflow: auto;
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
}

body:is(.home) kr-layout {
  --menu-width: 0px;
  --main-width: 1fr;
  --aside-width: 0px;
}

kr-layout {
  --menu-width: auto;
  --main-width: 105ch;
  --aside-width: auto;
}

kr-layout::part(body) {
  max-width: var(--body-max-width);
  justify-content: center;
  margin: 0 auto;
}

kr-layout::part(main) {
  background-color: var(--body-color);
}

main {
	max-width: 100vw;
	padding: 0 var(--main-padding-x) 2rem;
	width: 100%;
	margin: 0 auto;
	background-color: var(--body-color);
	color: var(--text-color);
}

kbd {
  font-family: var(--sl-font-mono);
  font-size: 87.5%;
  background-color: var(--sl-color-neutral-50);
  border-radius: var(--sl-border-radius-small);
  border: solid 1px var(--sl-color-neutral-200);
  box-shadow: inset 0 1px 0 var(--sl-color-neutral-0);
  padding: 2px 5px;
  line-height: 1;
}

.home main {
  max-width: var(--main-width);
}

.doc main {
	background-color: var(--body-color);
}

.nav-header {
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding: 0.5rem clamp(1.25rem, 4vw, 2rem);
  font-size: 1.05rem;
  justify-items: space-between;
  border-bottom: 1px solid var(--sl-color-neutral-200);
	background-color: var(--body-color);
}

.logo__link {
  flex: 1 0 auto;
  width: auto;
}

.logo__link:focus,
.logo__link:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--link-color);
}

.logo__text {
  color: var(--text-color-primary);
  font-size: var(--sl-font-size-x-large);
  padding-bottom: var(--sl-spacing-x-small);
  margin-bottom: calc(var(--sl-spacing-x-small) - (var(--sl-spacing-x-small) * 2));
  margin-left: var(--sl-spacing-2x-small);
}

.logo__link:focus > .logo__text,
.logo__link:hover > .logo__text {
  color: var(--link-color-focus);
}

.logo__link:focus > .logo__image,
.logo__link:hover > .logo__image {
  color: var(--link-color-focus);
}

.top-nav,
.footer {
  width: 100%;
}

.top-nav__search,
.top-nav__go-home,
.top-nav__categories,
.logo__link {
  display: flex;
  align-items: center;
}

.top-nav {
  display: flex;
  max-width: var(--top-nav-max-width);
  justify-content: center;
  margin: 0 auto;
  background-color: var(--body-color);
}

.top-nav__go-home {
  min-width: 100px;
}

.top-nav__hamburger__button {
  font-size: 1.75rem;
}

.top-nav__hamburger__button::part(base),
.top-nav__search__button::part(base) {
  color: var(--sl-color-gray-600);
  font-size: var(--sl-font-size-x-large);
}

.top-nav__hamburger__button::part(base):hover,
.top-nav__search__button::part(base):hover,
.top-nav__hamburger__button::part(base):focus,
.top-nav__search__button::part(base):focus {
  color: var(--link-color-focus);
}

.top-nav__hamburger__button::part(base):focus,
.top-nav__search__button::part(base):focus {
  border-color: var(--link-color-focus);
  box-shadow: 0 0 6px var(--link-color-focus);
}

.top-nav__search {
  margin: 0;
  margin-inline-start: auto;
}

.top-nav__github {
  font-size: 2rem;
  width: 2rem;
  height: auto;
}

.top-nav__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
}

.top-nav__categories {
  display: none;
  font-family: var(--sl-font-sans);
  font-weight: bold;
  min-width: fit-content;
  justify-content: space-around;
  width: 100%;
}

.top-nav__categories > * {
  margin: 0 var(--sl-spacing-medium);
}

.top-nav__github {
  padding-top: var(--sl-spacing-2x-small);
  margin-left: var(--sl-spacing-medium);
}

.nav-link {
  color: var(--sl-color-neutral-700);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--sl-color-primary-500);
}

.side-nav__menu {
  margin: 0;
  padding-inline-start: 0;
  min-width: 250px;
  max-width: 250px;
}

.side-nav__item {
  padding: 8px;
  max-width: 100%;
  line-height: 1.3;
}

.side-nav__link {
  color: var(--sl-color-neutral-500);
  text-decoration: none;
  text-decoration-color: currentColor;
}

.sl-theme-dark .side-nav__link {
  color: var(--sl-color-neutral-700);
}

.side-nav__link:is(:hover, :focus) {
  color: var(--link-color);
  text-decoration: underline;
}

.side-nav__category-header {
  display: inline-block;
  margin: var(--sl-spacing-medium) 0 var(--sl-spacing-small) 0;
  color: var(--link-color);
  font-size: var(--sl-font-size-x-large);
}

.side-nav__category-header:first-of-type {
  margin-top: 0;
}

.side-nav__category-header,
.side-nav__link {
  font-family: var(--sl-font-sans);
  border-color: transparent;
}

.side-nav--desktop {
  display: none;
}

.side-nav__category-menu {
  list-style: none;
  padding: 0;
  padding-top: 1rem;
}

.side-nav__drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--sl-color-neutral-200);
  padding-bottom: 1rem;
}
.input {
  font-size: var(--input-font-size);
  font-family: inherit;
  padding: var(--input-padding);
  background-color: var(--input-bg-color);
  border: var(--input-border-width) var(--input-border-style) var(--input-border-color);
  border-radius: var(--input-border-radius);
  transition: 150ms box-shadow ease-in-out;
  height: var(--sl-spacing-2x-large);
  color: var(--sl-color-neutral-700);
}

.input:focus,
.input:hover {
  border-color: var(--sl-color-primary-500);
}

.input:focus {
  box-shadow: 0 0 0 var(--input-focus-ring-width)
    hsla(198.6 88.7% 48.4% / 0.4);

  /* for users who may have shadows and other colors turned off */
  outline: var(--input-focus-ring-width) solid transparent;
}

.top-nav__go-home,
.top-nav__command-palette-button {
  display: none;
}

.nav-search {
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-medium);
}

.footer {
  padding: var(--sl-spacing-2x-large) var(--sl-spacing-2x-small);
  text-align: center;
  border-top: 1px solid var(--sl-color-neutral-200);
}

.reason__grid h3,
.reason__header {
  border-bottom: none;
}

.hero--mobile {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.hero--mobile a {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  flex: 0 0 auto;
}

.hero--mobile .logo__text{
  font-size: 2.5rem;
}

.site-title {
  margin-top: 0;
}

.site-title,
.slogan,
.reason__header
{
  text-align: center;
}

.slogan {
  max-width: max(75%, 600px);
  margin: 0 auto;
}

.call-to-action__items {
  margin-top: 1.75rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
}

.reason__grid {
  display: grid;
  gap: 1rem;
}

.reason__grid > * {
  height: 100%;
}

:is(.index, .doc) kr-layout {
  background-color: var(--sl-color-neutral-50);
}

.documentation-content {
	display: flex;
	flex-direction: column;
}

/** Pagination */
sl-button:is(.previous-page, .next-page) {
  transition: transform 0.15s;
}

sl-button:is(.previous-page, .next-page)::part(label) {
  max-width: calc(100% - 24px);
  width: 100%;
  overflow: hidden;
}

sl-button:is(.next-page)::part(base) {
  justify-content: start;
  justify-content: flex-start;
}

sl-button:is(.previous-page)::part(base) {
  justify-content: end;
  justify-content: flex-end;
}

sl-button:is(.next-page, .previous-page):is(:hover, :focus) {
  box-shadow: var(--sl-color-neutral-50) 0px 12px 13px;
  transform: translateY(-2px);
}

.pagination-footer {
  padding: 2rem 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  justify-content: space-between;
  gap: 1rem;
}

pagination-title {
  display: block;
  max-width: 100%;
  overflow: hidden;
  font-size: 1.15rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

sl-alert {
  margin: 1rem 0;
}

sl-alert p {
  margin: 0;
  padding: 0;
}

sl-alert::part(base) {
  box-shadow: 3px 3px 6px 1px var(--sl-color-neutral-100);
}

.rhino-editor,
.syntax-block {
  position: relative;
  margin: 1rem;
}

.syntax-block {
  border: 1px solid var(--divider-color);
  border-radius: var(--sl-border-radius-large);
}

.syntax-block pre {
  margin: 0;
}

.syntax-block__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
}

.syntax-block .highlight {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.syntax-block__badge {
  font-size: var(--sl-button-font-size-large);
  color: var(--sl-color-neutral-700);
}

/** Button */
.button {
  padding: 0.4em 0.6em;
  display: block;
  position: relative;
  width: auto;
  cursor: pointer;

  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  border-style: solid;
  border-width: var(--sl-input-border-width);
  font-family: var(--sl-input-font-family);
  font-weight: var(--sl-font-weight-semibold);
  user-select: none;
  white-space: nowrap;
  transition: var(--sl-transition-x-fast) background-color, var(--sl-transition-x-fast) color,
    var(--sl-transition-x-fast) border, var(--sl-transition-x-fast) box-shadow;
  background-color: var(--sl-color-neutral-0);
  border-color: var(--sl-color-neutral-300);
  color: var(--sl-color-neutral-700);
  font-size: var(--sl-button-font-size-medium);
  border-radius: var(--sl-input-border-radius-medium);
}

.button::-moz-focus-inner {
  border: 0;
}

.button:focus {
  outline: transparent;
}

.button:focus-visible {
  outline: var(--sl-focus-ring);
  outline-offset: var(--sl-focus-ring-offset);

}

.button:hover {
  background-color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-300);
  color: var(--sl-color-primary-700);
}

.button:active {
  background-color: var(--sl-color-primary-100);
  border-color: var(--sl-color-primary-400);
  color: var(--sl-color-primary-700);
}

/** Clipboard **/
.clipboard.clipboard--success:is(:hover, :focus, :active),
.clipboard.clipboard--success {
  background-color: var(--sl-color-success-100);
  border-color: var(--sl-color-success-600);
  color: var(--sl-color-success-800);
}

.clipboard {
  align-items: center;
}

.clipboard sl-icon {
  font-size: 1.25em;
}

.clipboard__icon--success, .clipboard__icon--idle {
  transition: transform .2s ease-in-out;
}

.clipboard .clipboard__icon--idle,
.clipboard.clipboard--success .clipboard__icon--success {
  transform: scale(1);
}

.clipboard.clipboard--success .clipboard__icon--idle,
.clipboard.clipboard--idle .clipboard__icon--success {
  height: 0;
  width: 0;
  visibility: hidden;
  transform: scale(0);
}

kr-layout > [slot='aside'] {
  display: none;
}

@media screen and (min-width: 1360px) {
  kr-layout > [slot='aside'] {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  body {
    --main-padding-x: 2rem;
  }


  body:is(.index, .doc) kr-layout::part(body) {
    padding-top: 2rem;
  }

	body:is(.index, .doc) kr-layout::part(main) {
		box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
		background: var(--body-color);
		border-radius: 4px;
	}

  /* .hero--mobile, */
  .top-nav__hamburger__button,
  .top-nav__search__button {
    display: none;
  }

  .top-nav__go-home,
  .top-nav__command-palette-button {
    display: flex;
  }

  .top-nav__search {
    margin: 0 auto 0 auto;
    order: unset;
  }

  .top-nav__categories {
    display: block;
  }

  .side-nav--desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 275px;
  }

  .side-nav__category-menu {
    padding-inline-start: 40px;
  }

  .side-nav__drawer {
    display: none;
  }

  .reason__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* Themes */
.theme-item {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
}

[data-controller~='theme-switcher'],
[data-controller~='theme-switcher']:not(:defined) {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

[data-controller~='theme-switcher']:defined {
  height: unset;
  width: unset;
  visibility: visible;
  opacity: 1;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.table-of-contents {
  margin-inline-start: 1rem;
  min-width: 275px;
  max-width: 275px;
}

.table-of-contents * {
  max-width: 100%;
}

.table-of-contents__header {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  font-weight: normal;
  color: var(--sl-color-neutral-800);
  font-size: var(--sl-font-size-x-large);
}

.table-of-contents__list {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  list-style: none;
}

.table-of-contents__list a {
  color: var(--sl-color-neutral-500);
  text-decoration: none;
}

.table-of-contents__list li {
  border-inline-start: 4px solid var(--sl-color-neutral-400);
  padding-inline-start: 1rem;
}

.side-nav__item.is-active {
  border-inline-start: 4px solid var(--sl-color-primary-600);
  background-color: var(--sl-color-primary-100);
}

.side-nav__item.is-active,
.side-nav__item.is-active a {
  color: var(--sl-color-primary-700);
}

.table-of-contents__list li {
  padding: 0.5rem;
}


bridgetown-ninja-keys {
  --ninja-width: clamp(200px, 96vw, 100ch);
}

bridgetown-ninja-keys.dark {
  --ninja-modal-background: rgba(35, 35, 35, 1);
  --ninja-text-color: gray;
}

:where(sl-visually-hidden:not(:defined)) {
  display: none;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
    }
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
    }
}

/* Rhino Editor */

.sl-theme-dark .rhino-editor,
.sl-theme-dark .trix-content {
  --rhino-button-color: var(--sl-color-neutral-700);
  --rhino-button-disabled-text-color: var(--sl-color-neutral-300);
  --rhino-toolbar-text-color: var(--sl-color-neutral-700);
  --rhino-button-active-border-color: var(--sl-color-primary-700);
  --rhino-button-active-background-color: var(--sl-color-primary-200);
  color: white;
}


.sl-theme-dark .rhino-editor::part(toolbar__button):is(:focus, :hover) {
  color: black;
}

.sl-theme-dark .rhino-editor::part(toolbar__button toolbar__button--active):is(:focus, :hover) {
  color: white;
}


.sl-theme-dark .rhino-editor::part(toolbar__button--active) {
  color: var(--sl-color-primary-800);
}

.sl-theme-dark .rhino-editor::part(toolbar__button toolbar__button--disabled):is(:focus, :hover) {
  color: var(--sl-color-neutral-300);
}

.sl-theme-dark .rhino-editor::part(link-dialog__container) {
  background-color: black;
  border: 1px solid white;
  box-shadow: none;
}

.sl-theme-dark .rhino-editor::part(link-dialog__input--invalid) {
  color: var(--sl-color-red-200);
}

.sl-theme-dark .rhino-editor::part(tooltip-base) {
  border: 1px solid white;
}

.sl-theme-dark .rhino-editor::part(tooltip-arrow) {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.sl-theme-dark .trix-content .attachment--preview .attachment__caption {
  color: var(--sl-color-neutral-700);
}

.sl-theme-dark rhino-attachment-editor::part(delete-button) {
  color: black;
}

.sl-theme-dark .trix-content pre {
  color: black;
}

.sl-theme-dark .trix-content blockquote {
  color: var(--sl-color-neutral-700);
}
