:root,
body,
.sl-theme-light,
.sl-theme-dark {
  --text-color: var(--sl-color-neutral-1000);
  --light-text-color: var(--sl-color-neutral-700);
  --body-color: var(--sl-color-neutral-0);
  --color-primary: var(--sl-color-primary-600);
  --text-color-primary: var(--sl-color-primary-700);
  --link-color: var(--sl-color-primary-700);
  --link-color-focus: var(--sl-color-primary-500);
  --divider-color: var(--sl-color-neutral-300);
  --code-color: hsl(209, 27%, 26%);
  --code-background-color: hsl(210, 29%, 97%);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--sl-font-sans);
  min-height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--sl-font-sans);
  min-height: 100%;
}

button {
  appearance: none;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
  scroll-margin-top: calc(80px + 2em);
  padding: 0.25em var(--sl-spacing-large);
}

h1 {
  font-size: var(--sl-font-size-x-large);
}

h2 {
  font-size: var(--sl-font-size-large);
  margin-top: var(--sl-spacing-xx-large);
  margin-bottom: var(--sl-spacing-small);
}

h3 {
  font-size: var(--sl-font-size-medium);
  margin-top: var(--sl-spacing-x-large);
}

h4,h5,h6 {
  margin-top: var(--sl-spacing-medium);
  font-size: var(--sl-font-size-large);
}

p {
  margin: var(--sl-spacing-small) var(--sl-spacing-large);
}

p, li {
  line-height: 1.6;
  font-size: 1rem;
}

li > p {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  line-height: 1.8;
  list-style: disc outside;
}

ul ul {
  list-style: circle outside;
}

ul ul ul {
  list-style: square outside;
}

ul ul ul ul {
  list-style: disc outside;
}

[tabindex="-1"] {
  outline: transparent;
}

a,
kr-layout::part(skip-link) {
  word-break: break-word;
  word-wrap: anywhere;
  /* outline: transparent; */
  /* Unable to distinguish identifier, this makes links obvious */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--link-color);
  text-underline-offset: 0.25em;
  color: var(--link-color);
  border-radius: 2px;
  display: inline;
  padding: 0.25em;
  line-height: 1.2;
  transition: all 0.2s;
}

kr-layout::part(skip-link):is(:hover),
a:is(:hover) {
  color: var(--link-color-focus);
}


kr-layout::part(skip-link):is(:focus-visible),
a:is(:focus-visible) {
  box-shadow: 0px 0px 3px 3px var(--sl-color-primary-600);
  outline: transparent;
  /* for when Safari supports border-radius */
  /* outline: 3px solid var(--sl-color-primary-600); */
  /* outline-offset: 4px; */
}

@supports not selector(:focus-visible) {
  kr-layout::part(skip-link):is(:focus),
  a:is(:focus) {
    box-shadow: 0px 0px 3px 3px var(--sl-color-primary-600);
    outline: transparent;
    /* for when Safari supports border-radius */
    /* outline: 3px solid var(--sl-color-primary-600); */
    /* outline-offset: 4px; */
  }
}


div[class*="language-"] {
  margin: var(--sl-spacing-xx-small) 0 var(--sl-spacing-xxx-large) 0 !important;
}

/* Code block */
pre {
  padding: var(--sl-spacing-large);
  margin: var(--sl-spacing-large) 0;
  overflow-x: auto;
}

code > span {
  line-height: var(--sl-line-height-dense);
}

.highlighter-rouge,
.highlight {
  border-radius: var(--sl-border-radius-large);
  font-size: 1rem;
  line-height: 1.4;
}

.highlight,
.highlighter-rouge {
  position: relative;
}

/* Inline code blocks */
code.highlight,
code.highlighter-rouge {
  display: inline-block;
  font-size: 0.85em;
  padding: 0.1em 0.4em;
  margin: var(--sl-spacing-xx-small) 0;
  border-radius: 6px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  white-space: break-spaces;
  vertical-align: middle;
}

/* :where(:not(:defined)) { */
/*   visibility: hidden; */
/* } */

/** https://github.com/shoelace-style/shoelace/pull/1317 */
sl-button::part(base) {
  min-height: var(--sl-input-height-medium);
  height: auto;
}

sl-button[size='large']::part(base) {
  min-height: var(--sl-input-height-large);
  height: auto;
}

sl-button[size='small']::part(base) {
  min-height: var(--sl-input-height-small);
  height: auto;
}
