<footer class="footer">
  Found a mistake? Want to contribute?
  <a href="<%= on_github(resource)  %>"> Edit this page on GitHub </a>

  <div style="margin: 1.5rem 0;"></div>

  Built with <a href="https://www.bridgetownrb.com/">Bridgetown</a>, <a href="https://shoelace.style">Shoelace</a>,
  and design inspiration from <a href="https://rocket.modern-web.dev">Rocket</a>.
</footer>
