<footer slot="main-footer">
  <div class="footer">
    Found a mistake? Want to contribute?
    <a href="<%= on_github(resource)  %>"> Edit this page on GitHub </a>

    <div style="margin: 1.5rem 0;"></div>

    Built with <a href="https://www.bridgetownrb.com/" rel="noopener noreferrer" external>Bridgetown</a> and <a href="https://shoelace.style" rel="noopener noreferrer" external>Shoelace</a>.
  </div>
</footer>
