<nav slot="aside" class="table-of-contents" id="table-of-contents" aria-label="Table of contents" tabindex="-1" data-controller="scroll-spy">
  <h2 class="table-of-contents__header">
    <%= resource.data.title.titleize %>
  </h2>
  <ol class="table-of-contents__list">
  </ol>
</nav>
