bridgetown-ninja-keys {
  --ninja-width: clamp(200px, 100vw, 100ch);
  --ninja-accent-color: var(--sl-color-primary-600);
}

bridgetown-ninja-keys.dark {
  --ninja-modal-background: rgba(35, 35, 35, 1);
  --ninja-text-color: gray;
}
