light-preview::before {
  content: "Preview";
  background: var(--sl-color-neutral-600);
  border: 1px solid var(--sl-color-neutral-700);
  border-bottom: none;
  color: var(--sl-color-neutral-0);
  padding: 4px;
  padding-inline-start: 16px;
  display: block;
}

light-preview {
  display: grid;
  align-items: start;
}

light-preview::part(base) {
  border-radius: 0px;
}

/** light-code */
light-code::part(code) {
  font-size: 0.85rem;
  padding-top: 4px;
  border-top: 1px solid var(--divider-color);
}

light-code:defined > [slot="code"] {
  display: none;
}

light-code > [slot="code"] {
  display: block;
  overflow: auto;
  /* this creates "hard" line-wrapping where it will scroll horizontally. */
  white-space: pre;
  word-break: break-all;

}

light-code[wrap="soft"] > [slot="code"] {
  /* this creates "soft" line-wrapping. */
  word-break: break-word;
  white-space: pre-wrap;
}

