.rhino-editor {
  position: relative;
  margin: 1rem 0rem;
}
/* Rhino Editor */

.sl-theme-dark .rhino-editor,
.sl-theme-dark .trix-content {
  --rhino-button-color: var(--sl-color-neutral-700);
  --rhino-button-disabled-text-color: var(--sl-color-neutral-300);
  --rhino-toolbar-text-color: var(--sl-color-neutral-700);
  --rhino-button-active-border-color: var(--sl-color-primary-700);
  --rhino-button-active-background-color: var(--sl-color-primary-200);
  color: white;
}


.sl-theme-dark .rhino-editor::part(toolbar__button):is(:focus, :hover) {
  color: black;
}

.sl-theme-dark .rhino-editor::part(toolbar__button toolbar__button--active):is(:focus, :hover) {
  color: white;
}


.sl-theme-dark .rhino-editor::part(toolbar__button--active) {
  color: var(--sl-color-primary-800);
}

.sl-theme-dark .rhino-editor::part(toolbar__button toolbar__button--disabled):is(:focus, :hover) {
  color: var(--sl-color-neutral-300);
}

.sl-theme-dark .rhino-editor::part(link-dialog__container) {
  background-color: black;
  border: 1px solid white;
  box-shadow: none;
}

.sl-theme-dark .rhino-editor::part(link-dialog__input--invalid) {
  color: var(--sl-color-red-200);
}

.sl-theme-dark .rhino-editor::part(tooltip-base) {
  border: 1px solid white;
}

.sl-theme-dark .rhino-editor::part(tooltip-arrow) {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.sl-theme-dark .trix-content .attachment--preview .attachment__caption {
  color: var(--sl-color-neutral-700);
}

.sl-theme-dark rhino-attachment-editor::part(delete-button) {
  color: black;
}

.sl-theme-dark .trix-content pre {
  color: black;
}

.sl-theme-dark .trix-content blockquote {
  color: var(--sl-color-neutral-700);
}

