<div style="max-width: 60ch; margin: 0 auto;">
<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>

<div style="max-width: 60ch; margin: 0 auto;">
